html {
  scroll-behavior: smooth;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #303134;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.pokedex a {
  margin-top: 0;
}

.nav-generation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-generation a {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-generation a:hover {
  background: #3f3f3f;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section h2 {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  color: black;
  border-bottom: 1px solid black;
  width: 80%;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .pokedex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pokedex a {
    display: flex;
    margin-bottom: 20px !important;
    width: 90%;
  }

  .nav-generation {
    flex-wrap: wrap;
  }

  section h2 {
    font-size: 40px;
  }
}
